<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="login-app">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row" hidden$={{logado}}>
       <h1>Ingreso a la app</h1>
       <br>
       Email: <input type="email" value="{{email::input}}">
       <br>
       Password: <input type="password" value="{{password::input}}">
       <br>
       <button on-click="logar" class="btn btn-success">Login</button>
     </div>
     <div class="row">
       <span hidden$={{!logado}}>Bienvenido a la aplicación</span>
     </div>
   </div>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginApp extends Polymer.Element {
     static get is() { return 'login-app'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         }
       }
     }
     logar() {
       console.log("Se ha pulsado el botón de login");
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/v2/Login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.setRequestHeader("password", this.password);
       request.send();
       this.respuesta = request.responseText;
       console.log(request.status);
       if (request.status == 200) {
         this.logado = true;
       } else {
         this.logado = false;
       }
     }
   }
   window.customElements.define(LoginApp.is, LoginApp);
 </script>
</dom-module>
